body{
    background-color: #FAC710;
}
.barra{
    background-color: #c91b1b;
    border-style:solid;
    border-color: #c91b1b;
    border-width: 8px ;
}
.bot{
    padding-top:82%;
	padding-left:30%;
	padding-right:1%;
	padding-bottom:1%;
	max-width:1000px;
	margin:auto;	
}
.bot2{
    padding-top:175%;
	padding-left:30%;
	padding-right:1%;
	padding-bottom:1%;
	max-width:1000px;
	margin:auto;	
}
.barrapreta{
    background-color: #161616;
    border-style:solid;
    border-color: #161616;
    border-width: 8px ;
}
.borda{
    border-style:solid;
    border-color: #161616;
    border-width: 7px ;
}
.figure-img{
    object-position: center;
    object-fit: none;
}
.navbar-nav a{
    color: white;
    text-decoration: nome;
    padding-left: .5rem;
    padding-right: .5rem;
}
.navbar{
    background-color: #c91b1b;
 }
 .Nav.Item a:hover{
    color: white;
}